{% extends 'base.html' %} {% block content %}
<div>
  <h1 class="text-4xl my-4 font-black">
    Check out Latest
    <a href="/myblog" class="underline hover:text-gray-400">Posts</a> or
    subscribe to the
    <a href="myblog.rss.xml" class="underline hover:text-gray-400">RSS Feed</a>
  </h1>
  <h1 class="text-4xl my-4 font-black">Search Projects</h1>
  <a href="https://diversityorgs.tech"
    ><img
      class="w-1/6"
      src="https://kjaymiller.s3-us-west-2.amazonaws.com/images/diversity-orgs-logo.png"
      alt="DiversityOrgs.tech"
  /></a>
  <p>
    If you have any questions on how Render Engine works, check out our
    <a href="https://render-engine.readthedocs.io">Documentation Page</a>
  </p>
</div>
{% endblock %}
