{% extends 'base.html' %} {% block content %}
<div class="mx-4">
  <h3 class="text-2xl font-bold">
    This is a collection of things I've learned as a (current) Developer
    Advocate at Elastic.
  </h3>
  <p class="my-2">
    This is mostly an site for personal reference but if you have some comments,
    let me know on
    <a class="underline hover:font-bold" href="https://twitter.com/kjaymiller"
      >Twitter</a
    >
    or using the
    <a class="underline hover:font-bold" href="https://kjaymiller.com/contact"
      >contact page</a
    >
    on my main site.
  </p>
</div>
<div class="m-5">
  <h1 class="text-4xl my-4 font-black">
    Check out Latest
    <a href="/myblog" class="underline hover:text-gray-400">Posts</a> or
    subscribe to the
    <a href="myblog.rss.xml" class="underline hover:text-gray-400">RSS Feed</a>
  </h1>
  <h1 class="text-4xl my-4 font-black">Search Projects</h1>
  <a href="https://diversityorgs.tech"
    ><img
      class="w-1/6"
      src="https://kjaymiller.s3-us-west-2.amazonaws.com/images/diversity-orgs-logo.png"
      alt="DiversityOrgs.tech"
  /></a>
</div>
{% endblock %}
